/*descoracion de foto*/
.foto {
  text-align: center;
  margin-top: 3%;
  width: auto;
}
/*descoracion de tirululos o textos*/
h1{
  color: rgb(63, 11, 142);
  text-align: center;
}

h2{
  margin-top: 25px;
  display: flex;
}


.texto-texto {
  text-align: center;
  font-family: 'Anton', sans-serif;
  margin-top: 1px;
  border: 0px solid black;
  border-style: dashed;
  
}

.texto-informativo{
  display: flex;
}

/*modificamos pie*/
.footer-redes{ 
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgba(14, 14, 14, 0.953);
}
/*color de fondo*/
.fondo{
  background-color: #15ab92;
}

/*css al mapa*/
.mapa { 
  text-align: center;
  margin-top: 20px;
}

/*le damos espacio a los links, de la pagina link*/  
.boton-web{
  margin-top: 10px;
}






/*aplicamos grid*/
.grid-container{
  background-color: #1e91ed;
  justify-content: space-evenly;
  margin-top: 40px;
  display: grid;
  /*establecemos cuantas columnas y qeu anchos tendran respecto a los padres*/
  grid-template-columns: repeat(4, 20%);
  /*establecemos cantidad de filas y que alto tendran al padre, es el piso*/
  grid-template-rows: repeat(1, autopx);
  /*establecemos el espaciado entre cajas*/
  gap: 1px 1px;
  
  grid-template-areas: 
  "noticia-1 noticia-2 noticia-3 noticia-4"
  }

/*activamos las areas a acomodora*/
.noticia-1{
  grid-area: noticia-1;
  background-color: #1e91ed ;
}
.noticia-2{
  grid-area: noticia-2;
  background-color: #1e91ed;
  
}
.noticia-3{
  grid-area: noticia-3;
  background-color: #1e91ed;
}
.noticia-4{
  grid-area: noticia-4;
  background-color: #1e91ed ;
}

/*para modificar la vista a celu, tablet,etc*/
@media screen and (max-width: 768px){ 
  .grid-container{
      background-color: rgb(3, 56, 75);
      border: px solid black;
      display: grid;
      /*establecemos cuantas columnas y qeu anchos tendran respecto a los padres*/
      grid-template-columns: repeat(2, 40%);
      /*establecemos cantidad de filas y que alto tendran al padre, es el piso*/
      grid-template-rows: repeat(4, autopx);
      /*establecemos el espaciado entre cajas*/
      gap: 1px 1px;
      
      grid-template-areas: 
      "noticia-1 noticia-2"
      "noticia-1 noticia-2"
      "noticia-3 noticia-4"
      "noticia-3 noticia-4"
      ;
  }
}
/*activamos las areas a acomodora*/
.noticia-1{
  grid-area: noticia-1;
  background-color: #1e91ed;
}
.noticia-2{
  grid-area: noticia-2;
  background-color: #1e91ed;
}
.noticia-3{
  grid-area: noticia-3;
  background-color: #1e91ed;
}
.noticia-4{
  grid-area: noticia-4;
  background-color: #1e91ed;
}