<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--agregamos con java-css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/prueba.css">
    <title>De que se trata</title>
</head>

<body class="fondo">
    <!--agregando codigo bootstrap-->
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">Medita</a>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="informate.html">Informate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="lugares.html">Lugares</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active" href="formulario.html">Inscripciones</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active" href="ubicacion.html">Ubicacion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <title>Links</title>

    <h1>¿De qué se trata?</h1>

        <h3 class="texto-informativo">
            Hacer unos Ejercicios Espirituales, un Curso de retiro, es una manera eficacísima de acercarse a Dios, una
            oportunidad estupenda para tratarle con paz, con mayor intensidad. Conocerle y conocernos con la luz que El nos
            da, de modo que ese conocimiento influya en nuestra vida, mejorándola, amando más a Dios y al prójimo. Muchas
            veces será el inicio de una sincera conversión.

            Hay momentos en la vida en que es necesario pararse; épocas en las que hay un nuevo despertar, en las que surgen
            -con la fuerza de la primera vez-, pasiones e iniciativas, afanes nobles que necesitan un cauce; periodos en que
            las necesidades espirituales se agudizan, y se mira la vida cara a Dios, y uno se plantea las grandes cuestiones
            de todos los tiempos: ¿De dónde vengo? ¿A dónde voy? ¿Cuál es nuestro origen? ¿Cuál es nuestro fin? ¿De dónde
            viene y a dónde va todo lo que existe?

            Muchas veces vamos por la vida como a galope. Más que ir nosotros, nos traen y nos llevan las cosas, las
            situaciones, las circunstancias. ¡Siempre con prisas! ¿Qué estoy haciendo con mi vida? ¿Para quién trabajo de
            esta manera?… ¡Que se detenga el mundo un par de días! ¡Necesito pensar! Pues bien, en cierto sentido un Curso
            de retiro hace realidad ese “milagro”.

            En muchas ocasiones nos limitamos a actuar como dice San Josemaría Escrivá en el nº 837 de Camino: “¡Galopar,
            galopar!…¡Hacer, hacer!… Fiebre, locura de moverse… Maravillosos edificios materiales…

            Espiritualmente: tablas de cajón, percalinas, cartones repintados… ¡galopar!, ¡hacer! —Y mucha gente corriendo:
            ir y venir.

            Es que trabajan con vistas al momento de ahora: “están” siempre “en presente”. —Tú… has de ver las cosas con
            ojos de eternidad, “teniendo en presente” el final y el pasado… Quietud. —Paz. —Vida intensa dentro de ti. Sin
            galopar, sin la locura de cambiar de sitio, desde el lugar que en la vida te corresponde, como una poderosa
            máquina de electricidad espiritual, ¡a cuántos darás luz y energía!…, sin perder tu vigor y tu luz.”
            La paz de unos días de retiro sirve para pensar con calma en lo importante, y poner un poco de orden en las
            ideas. Familia, trabajo, vida cristiana, amistades… ¿Está cada cosa en su sitio? ¿Tengo que redimensionar algún
            aspecto de mi vida?

            Soledad, sosiego, silencio, serenidad. Vida interior

            Buscar la soledad es una constante en la historia de la espiritualidad, porque en la soledad acontece con más
            facilidad el encuentro del alma con Dios.

            “Siempre empiezo a rezar en silencio, porque es en el silencio del corazón donde habla Dios. Dios es amigo del
            silencio: necesitamos escuchar a Dios, porque lo que importa no es lo que nosotros le decimos, sino lo que El
            nos dice y nos transmite” (Beata Madre Teresa de Calcuta. Camino de sencillez).

            Para oír la voz de Dios se necesita un ambiente apropiado. Un clima de silencio, de recogimiento interior, que
            facilite el diálogo personal con El. Hablarle y escucharle. Eso es la oración. Y en ese ambiente, podemos
            preguntarnos sobre el sentido de nuestra vida, y preguntárselo a Dios, que es quien nos la ha dado.

            Retirarnos algunos días a un lugar solitario, para descubrir los valores del espíritu y ejercitarlos más en
            nuestra vida. Para ahondar hasta llegar a las raíces de lo que somos, de la grandeza y dignidad de ser y
            sabernos hijos de Dios. Para meditar sobre nuestro destino eterno.
            “Distraerte. —¡Necesitas distraerte!…, abriendo mucho tus ojos para que entren bien las imágenes de las cosas, o
            cerrándolos casi, por exigencias de tu miopía…

            ¡Ciérralos del todo!: ten vida interior, y verás, con color y relieve insospechados, las maravillas de un mundo
            mejor, de un mundo nuevo: y tratarás a Dios…, y conocerás tu miseria…, y te endiosarás… con un endiosamiento
            que, al acercarte a tu Padre, te hará más hermano de tus hermanos los hombres.” (San Josemaría Escrivá, Camino,
            nº 283).

            Pegas y excusas

            Sin cesar aparecerán razonadas pegas y excusas para dilatar, o no hacer un Curso de retiro: “sería estupendo, lo
            reconozco, pero…” “no es que no quiera hacerlo, es que…” Siempre habrá algo urgente que nos impida encontrar
            tiempo para lo importante. Y unos días de retiro -procura que sean cada año- son muy importantes para tu vida.
            Las mayores dificultades son la pereza, no querer rectificar y evitar enfrentarse consigo mismo.
            Piensa..¿No sientes que a tu vida -tan llena de ciertas cosas- le falta sentido? Querrías cambiar y, ¿no sabes
            cómo? Haz un Curso de retiro.

            Meditaciones y charlas

            El Curso de retiro consta de distintos actos de piedad, -charlas, meditaciones, etc.- y de muchos momentos de
            silencio dedicados al examen personal y a la oración.

            En las meditaciones y charlas se suelen recordar las verdades fundamentales de la fe y de la moral cristiana,
            -de acuerdo con lo que el Magisterio de la Iglesia ha declarado doctrina segura-, para que nos lo apliquemos y
            mejoremos personalmente. Se procura que descubramos a Dios que se nos da a conocer en medio del trabajo, en la
            vida familiar o social, por la calle… que nos invita a participar de su felicidad, y que pide nuestra
            correspondencia.

            En el Curso de retiro no se plantean temas discutibles. Por eso no vamos para opinar o a hacer debates; vamos a
            aprovechar el tiempo, a aprender y a adquirir la doctrina cierta, en la que se fundamenta la vida espiritual y
            de la que se desprenden los criterios prácticos de conducta.

            Es posible que, en alguna ocasión necesitemos tratar con mayor detenimiento algún aspecto de las meditaciones o
            charlas, o que tengamos alguna duda que nos interese aclarar. Entonces, para no distraer la atención de los
            demás, con sencillez, podemos acudir en privado al sacerdote o a alguna de las personas encargadas de atender el
            Curso de retiro.

            Santa Misa y Sacramento de la Reconciliación

            En el Curso de retiro se celebra diariamente la Santa Misa, y tenemos la oportunidad de recibir al Señor. La
            Santa Misa es lo más importante en la vida de un cristiano; es “el centro y la raíz de la vida interior”. Porque
            es el mismo Sacrificio de la Cruz. Cuando se celebra una Misa, se hace presente lo que sucedió en el Calvario,
            aunque de una manera incruenta -sin derramamiento de sangre- y misteriosa.

            Para vivir esta aventura estupenda de tanta intimidad con el Señor -lo tocamos, lo comemos, nos “endiosamos” al
            recibirle-, hay que estar en gracia, haber conseguido antes el perdón de nuestros pecados. Este es otro de los
            grandes dones que el Señor nos hace en el Curso de retiro.

            Con la Confesión bien hecha, Cristo perdona los pecados. Cuanto mejor se confiesa uno, más gracia recibe y más
            se aproxima a El. Y acercarnos a Dios es encontrar la alegría y la paz. Por eso es muy importante aprovechar el
            sosiego y el recogimiento interior de esos días, para preparar y hacer una buena Confesión.

            Visita al Santísimo y exposición con el Santísimo

            En el retiro, se hace la Visita al Santísimo. Consiste en devolverle con todo cariño, esa visita que El antes
            hizo a nuestra alma, cuando le recibimos en la Comunión. Es un detalle de delicadeza humana y sobrenatural.

            La ceremonia de la exposición con el Santísimo es sencilla y solemne, y mueve mucho a la piedad. Además de la
            estación a Jesús Sacramentado, se cantan diversos himnos, p.ej. Pange lingua (¡Canta, oh lengua!), Tantum ergo
            (Veneremos, pues) y Laudate (Alabad al Señor), cánticos antiquísimos y llenos de significado. Se termina con
            unos actos de desagravio a Dios y a sus santos.

            Lectura espiritual, Vía Crucis y trato con María

            Aprovecha el Curso de retiro para conocer mejor a Jesucristo, y así poder tratarle y quererle más. ¿Cómo?
            Ayudándote, en los ratos libres, de algún libro sobre su vida; o haciendo lectura meditada de los Evangelios, o
            del Catecismo de la Iglesia Católica.

            Durante el Curso de retiro hará mucho bien a tu alma, dedicar todos los días algún rato a hacer el Via Crucis.
            Recorrer la vía dolorosa hacia el Calvario junto a Jesús, nos da la oportunidad de contemplar los dolores
            físicos y morales del Señor y, verlos como lo que realmente son, fruto de nuestros pecados, de los tuyos y de
            los míos. San Pablo lo explica con claridad cuando dice que cada vez que el cristiano peca, renueva la Pasión de
            Cristo. Por esta razón, la devoción del Vía Crucis nos ayuda a arrepentirnos de nuestros pecados, a pedirle
            perdón y a desear no volver a actualizar sus sufrimientos.

            Busca modos personales para tratar a la Virgen. Es propio de buenos hijos querer mucho a su Madre, y
            demostrárselo con detalles de cariño. Algunos son tradición antiquísima de la Iglesia: como el rezo del Angelus
            y la Salve. Entre las oraciones y devociones que son más gratas a la Virgen, el rezo del Santo Rosario es,
            quizá, la más popular.

            Hacer examen. Sinceridad. Propósitos de cambio

            En el retiro te ayudará asistir a las meditaciones, charlas, lectura, etc., pero no basta con participar en
            estos actos, sino que lo fundamental y prioritario estará en examinar la conducta y la conciencia: repasar
            nuestra vida reciente y pasada, con relación a Dios y al prójimo.

            El encuentro con Dios en esos días, consiste esencialmente en una sincera y profunda apertura del alma, que
            muestra la situación de la propia vida, la fe y la confianza en Jesucristo, el arrepentimiento de las culpas, la
            rectificación de la vida y las necesidades que agobian o pesan.
            Porque no es suficiente no desear ofender a Dios, sino que tenemos que llegar a quererle como se quieren los
            amigos de verdad. Si faltase la sinceridad, desaparecería la posibilidad misma de la intimidad con Jesús, que no
            puede hacer nada con la doblez, con quien se oculta, con aquella persona que no quiere abrirle de par en par su
            interioridad.
        </h3>

    <!--pie de pagina-->
    <footer class="footer">
        <addres>
            <strong class="footer-redes">
                <li>
                    <a href="https://plataforma.coderhouse.com/cursos/36915/desarrollo-web-online">Coderhouse</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/coderhouse/">Instagram:coderhouse</a>
                </li>
            </strong>
        </addres>
    </footer>



    <!--agregamos con java-bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
    </script>

</body>
</html>